body{
	width: 100%;
	height: 100%;
}

/* HEADER */

header h1{
	color: red;
	display: flex;
	justify-content: center;
}

/*SECTION GRID*/
.container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.damier{
	border: 2px solid blue;
}
.row{
	display: flex;
	justify-content: space-around;
	border: 2px solid red;
}
.case{
	min-width: 150px;
	height: 150px;
	border: 2px solid green;


	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-flow: wrap;
	font-size: 20px;
	font-weight: bold;
	/*border: 2px solid blue;*/
	flex:1 1 0;
}

.circle{
	background: url("../images/circle.png") no-repeat center;
	background-size: 100px;
}

.cross{
	background: url("../images/cross.jpeg") no-repeat center;
	background-size: 100px;
}